.nav_bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 120px;
}

.nav_bar > * {
    margin-right: 20px;
}

.fa-solid:hover {
    cursor:pointer;
}

.gmail:hover {
    text-decoration: underline;
    cursor:pointer;
}

.nav_back:hover {
    background: #e5e5e5;
    cursor:pointer;
}

.body {
    margin: 0;
}

.google_icon {
    width: 30px;
}

.profile_icon {
    width: 30px;
    height: 30px;
    border-radius: 35px;
}

.container {
    text-align: center;
    width: 45vw;
    margin: auto;
}

.main_icon {
    width: 290px;
}

.search_bar {
    margin-top: 30px;
    background-color: white;
    box-shadow: 0px 0px 5px #aaaaaa;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search {
    height: 45px;
    width: 500px;
    font-size: 15px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.recent_icons {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.bgr_icon {
    background: #fbfbfb;
    width: 50px;
    height: 50px;
    border-radius: 40px;
}

.icons {
    width: 30px;
    border-radius: 45px;
    margin-top: 10px;
}

.icon {
    border-radius: 65px;
    margin-top: 12px;
}

.ico {
    margin-top: 16px;
}

.ic {
    width: 30px;
    margin-top: 14px;
}

.show {
    width: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
    padding-top: 10px;
}

.show:hover {
    background: #f2f2f2;
    cursor:pointer;
}

.line {
    display: inline;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: black;
    margin-top: 15px;
    margin-bottom: 20px;
}

.machu {
    border: 1px solid #e5e5e5;
    box-shadow: 0px 0px 1px #aaaaaa;
    width: 75%;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #00569d;
}

.machu:hover {
    cursor:pointer;
}

.custom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 0 solid #aaaaaa;
    width: 14%;
    margin-left: 85%;
    height: 33px;
    border-radius: 50px;
    color: blue;
    box-shadow: 0px 2px 4px #aaaaaa;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
    position: fixed;
    left: 0;
    bottom: 10px;
}

.custom:hover {
    cursor:pointer;
}